/*----------------- Responsive ---------------------*/
@media (max-width: 1200px){
	
	/*.wrap-slide .camera_wrap{
		max-height: 454px !important;
	}*/

	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	.navbar-default .navbar-brand{
		padding: 0px;
		padding-left: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}


}
/* Large desktop */
@media (max-width : 1135px){
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}

	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	.navbar-default .navbar-nav>li>a{
		text-shadow: none;
	}

}

@media (max-width : 1024px){

	.outer-banner .banner-item.bnimage {
		margin: 0;
		padding: 0 3px;
	}
	.outer-banner .banner-item .d-title {
		height: 40px;
	}
	.outer-banner .banner-item .d-title .scon {
		margin-right: 14px;
	}
	.cont-brands .inside-list ul li {
		padding: 0 42px;
	}

}

@media (max-width : 1002px) { 
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}
}

@media (max-width: 992px){
	.cont-brands .inside-list ul li { padding: 0px 15px; }
	.top-menu ul li > ul.dropdown-menu {margin-top: 7px;}
}

@media (max-width: 980px){
	
	.outer-banner .text-first-banner {
		text-align: center;
	}
	.outer-banner .banner-item.bnimage {
		margin: 1.2em auto;
		max-width: 407px;
	}
	.outer-banner .banner-item .d-title {
		height: 45px;
	}

	.content-text {text-align: center;}
	.ill-about.il2 img {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.list-ic-service .item{ border-right: 0px; }
}

@media (max-width: 875px){

	.cont-brands .inside-list ul li {
		display: block;
		padding: 0 !important;
	}
	.cont-brands .inside-list ul li .item{
		padding: 16px 0;
		margin: 0 auto;
		text-align: center;
	}
	.cn-menu-footer .list.m2 {
		margin-left: 35px;
	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		/*text-align: center;*/
		margin: 15px auto;
	}

	
}
@media (max-width: 768px){
	
	.top-menu ul li {
		padding: 0 12px;
	}

	#gallery-product .list-sl-category2 .carousel-indicators li, 
	#gallery-product .list-sl-category2 .carousel-indicators .active {
		margin: 0 6px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header.head{
		height: auto;
	}
	
	footer [class*="col-md"]{
		/*text-align: center;*/
		margin: 15px auto;
	}

	.cn-menu-footer {
		text-align: center;
	}
	.cn-menu-footer .list.fleft{
		float: none;
		margin: 0 auto;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.rightc-footer {
		float: none;
		margin: 1.5em auto;
		text-align: center;
	}
	.t-copyright {
		display: block;
		width: 100%;
		float: none;
		margin: 1em auto;
		text-align: center;
	}

	.navbar-default {
		background: none;
		background-color: transparent;
		border-radius: 0px;
		border: 0px;
	}
	.navbar-toggle {
		margin-top: 16px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a {
		color: #F9F9F9;
		font-size: 15px;
		padding: 7px 15px;
	}

	#gallery-product .list-sl-category2 .carousel-indicators li, 
	#gallery-product .list-sl-category2 .carousel-indicators .active {
		display: block;
		margin: 1.2em auto;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	

}