/*----------------------- IMPORT FONT ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Unna);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/*font-family: 'Playfair Display', serif;*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/*---------------------------- GENERAL -------------------------*/
img{
    border: none;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: 'Unna', sans-serif;
    font-size: 12px;
    
    color: #fff;
    background-color: #000;
}
a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: 'Unna', sans-serif;
}
.prelatif{
    position: relative;
    height: 100%;
}
.prelatife{
    position: relative;
}
@media (min-width: 1200px){
    .container {    
        max-width: 1225px;
        /*width: 1225px;*/
    }
}
.container {
    max-width: 1225px;
    /*min-width: 1225px;*/
    
    margin: 0 auto;
    padding: 0px;
    height: 100%;
}
.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    width: 100px;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 50%;

    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

.carousel-inner > .item.active.right,
.carousel-inner > .item.active.left {
    float: none !important;
}

/*----------------- Header ---------------*/
header.head{
    position: relative;
}
header.head .wrap-header{
    height: 76px;
    background: url(../images/back-header-menu.jpg) repeat-x;
    width: 100%;
}
.pos-lgo-header{
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 100;
    max-width: 248px;
}
.pos-lgo-header img{
    max-width: 100%;
}
.lgo-footer{
    max-width: 264px;
}
.lgo-footer img{
    max-width: 100%;
}

.top-menu{
    margin: 0;
}
.top-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-menu ul li{
    padding: 0 22px;
}
/*.top-menu ul li:first-child{*/
.top-menu ul li:last-child{
        padding-right: 0px;
}
.top-menu ul li a{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.top-menu ul li a i{
    font-size: 13px;
    color: #9e602d;
}
.top-menu ul li.active a,
.top-menu ul li a:focus,
.top-menu ul li a:hover{
    color: #f5f5f5;
}

.top-menu ul li > ul.dropdown-menu {
    margin-top: 8px;
    background-color: #2A2A2A;
    border-radius: 0px;
    margin-left: 17px;
    width: 305px;
}
.top-menu > ul > li > ul > li > a{
    padding-left: 5px;
}
.top-menu > ul > li > ul > li{
    border-bottom: 1px solid #030303;
}
.top-menu > ul > li > ul > li:last-child{border-bottom: 0px;}
.top-menu > ul > li > ul > li > a:hover,
.top-menu > ul > li > ul > li > a:focus{
    background: none;
    background-color: transparent;
    color: #EDEDEB;
}

.middle-outer-content{
    background: url(../images/bg-wismaindah.jpg) repeat;
    min-height: 450px;
    height: auto;
    width: 100%;
}

.control-nav-sk{
    position: absolute;
    right: 5px;
    bottom: 0px;
    width: 87px;
    height: 45px;
}
.control-nav-sk .carou-le{
    padding-left: 3px;
}
.control-nav-sk .carou-ri{

}

.outer-banner{
    margin: 0;
    padding: 0;
}
.outer-banner .text-first-banner{
    font-size: 28px;
    font-weight: 400;
    color: #FFF;
    line-height: 1.2;
}
.outer-banner .banner-item{ 
    position: relative; 

}
.outer-banner .banner-item.margin-left-7{ margin-left: 7px; }
.outer-banner .banner-item{

}
.outer-banner .banner-item .d-title{
    position: absolute;
    bottom: 0px;
    height: 46px;
    width: 100%;
    color: #FFF;
}
.outer-banner .banner-item .d-title span.title{
    color: #FFF;
    margin-left: 26px;
    font-size: 19px;
    color: #FFF;
    font-weight: 400;
    padding-top: 9px;
}
.outer-banner .banner-item .d-title .scon{
    margin-top: 8px;
    margin-right: 5px;
}
.outer-banner .banner-item .d-title .scon.first{
    margin-right: 14px;
}

.back-bottom-ct-s{
    background: url(../images/back-bottom-ct.png) repeat-x;
    /*height: 139px;*/
    min-height: 139px;
    height: auto;
}

/*container brands*/
.cont-brands{
    border: 1px solid #9b5e2c;
    padding-bottom: 2.5rem;
}
.cont-brands .title-banner{
    font-size: 17px;
    color: #995e2c;
    font-weight: 400;
    line-height: 0.9;
}
.cont-brands .inside-list{}

.cont-brands .inside-list ul{margin: 0; list-style: none; padding: 0;}
.cont-brands .inside-list ul li{display: inline-block; /*padding: 0 44px;*/ padding: 0 62px;}

/*cn menu footer*/
.cn-menu-footer{
    font-size: 15px;
    color: #8d8d8d;
}
.cn-menu-footer .title{
    font-size: 17px;
    color: #d3d3d3;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
}
.cn-menu-footer .list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.cn-menu-footer .list ul li{
    margin: 3px 0;
}
.cn-menu-footer .list ul li a{
    font-size: 15px;
    color: #8d8d8d;
    text-decoration: none;
}
.cn-menu-footer .list.m2{
    margin-left: 100px;
}

.rightc-footer{
    margin-top: -15px;
}
.t-info-footer{
    font-size: 13px;
    color: #8d8d8d;
}
.t-info-footer a{color: #8d8d8d; text-decoration: none;}

.lines-orange{
    height: 1px;
    background-color: #9b5e2c;
}
.t-copyright{
    color: #727272;
    font-size: 12px;
}
.t-copyright a{color: #727272; text-decoration: none;}
.t-copyright a:hover,.t-copyright a:focus{color: #fff; text-decoration: none;}
.h-assitan a,
.h-assitan{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
}
.h-assitan i.fa.fa-whatsapp{
    color: #fff;
    background-color: #14990a;
    border-radius: 12px;
}


/*-------------------------- CONTENT DALAM ----------------------------*/
.content-text{
    font-family: 'Unna', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: left;
}
.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5,
.content-text h6{
    margin: 0;
}   

.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5,
.content-text h6{
    margin-bottom: 20px;
}
.content-text h1{
    margin: 0;
    line-height: 0.9;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 15px;
    text-align: center;
}
.content-text h2{
    margin: 0;
    font-size: 35px;
    color: #FFF;
    font-weight: 400;
    line-height: 0.8;
    text-align: center;
}
.content-text span{
    font-size: 25px;
    color: #FFF;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}
.content-text span.networkof{
    font-size: 18px;
}
.content-text p{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}
.content-text a{
    color: #fff;
}
.content-text a:hover{
    color: #f5f5f5;
}
.content-text ul{
    margin-bottom: 20px;
    list-style-type: disc;
}
.content-text ul li{
    margin: 5px 0;
}
.content-text img{
    border: none;
}
.content-text h2.contact-form{
    font-family: 'Unna', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}


/*--------------- c form contact ----------*/
.contact-form form,
.form-diningreservation form{
    margin: 0px;
    padding-left: 10px;
    padding-right: 0px;
}
.contact-form label.control-label,
.form-diningreservation label.control-label{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #757575;
    text-align: left;
}
.contact-form input[type=text],
.contact-form textarea,

.form-diningreservation input[type=text]{
    border-color: #bababa;
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
    width: 163px;
    height: 29px;
    padding: 3px 8px;
}

.contact-form form{
    padding: 0px;
}
.contact-form textarea,
.contact-form input[type=text]{
    width: 259px;
    height: 29px;
}
.contact-form textarea{
    height: 70px;
}


/*-------------- inside page ------------*/
.breadcumb a,
.breadcumb a:hover,
.breadcumb a:focus,
.breadcumb{
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
}
.ill-about img{
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.89);
-moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.89);
box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.89);
}


.list-ic-service{}
.list-ic-service .item{
    text-align: center;
    border-right: 1px solid #555555;
}
.list-ic-service .item.last{
    border-right: 0;
}
.list-ic-service .item .pict{
    height: 156px;
}
.list-ic-service .item .pict img{
    margin-top: 47px;
    vertical-align: bottom;
}
.list-ic-service .item .title{
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    color: #FFF;
}

/*------------ contact us -----------*/
.addr-contact{
    text-align: center;
    color: #a8a8a8;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.addr-contact h2.t-contact{
    font-size: 30px;
    font-weight: 400;
    color: #FFF;
    margin: 0;
    margin-bottom: 26px;
}
.addr-contact a{
    color: #a8a8a8;
    text-decoration: none;
}
.addr-contact a:hover,
.addr-contact a:focus{
    color: #fff;
    text-decoration: none;
}

#gallery-product .carousel-inner{
    max-width: 810px;
    margin: 0 auto;
    text-align: center;
}
#gallery-product .list-sl-category .carousel-indicators {
    position: relative;
    top: 0px;
    margin: 0px 0px 65px;
    width: 100%;
    left: 0px;
    bottom: inherit;
    list-style: none;
}
#gallery-product .list-sl-category .carousel-indicators li,
#gallery-product .list-sl-category .carousel-indicators .active{
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0px;
    text-indent: inherit;

    padding: 0 12px; font-size: 19px; color: #8d8d8d; font-weight: 400; text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid #000;
    border-color: transparent;
}
#gallery-product .list-sl-category .carousel-indicators .active,
#gallery-product .list-sl-category .carousel-indicators li:hover{
    border-radius: 0px;
    border: 2px solid #7d4e28;
    text-decoration: none;
    color: #8d8d8d;
}

/*------------ product brands ---------*/
#gallery-product .list-sl-category2 .carousel-indicators {
    position: relative;
    top: 0px;
    margin: 0px 0px 65px;
    width: 100%;
    left: 0px;
    bottom: inherit;
    list-style: none;
}
#gallery-product .list-sl-category2 .carousel-indicators li,
#gallery-product .list-sl-category2 .carousel-indicators .active{
    margin: 0;
    padding: 0px;
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0px;
    text-indent: inherit;

    margin: 0 23px; 
    font-size: 19px; 
    color: #8d8d8d; 
    font-weight: 400; 
    text-transform: uppercase;
    border-radius: 0px;
}

/* // setup background  */
#gallery-product .list-sl-category2 .carousel-indicators li.clie{ background: url(../images/p-brand/p-clie.png) no-repeat; width: 144px; height: 50px; }
#gallery-product .list-sl-category2 .carousel-indicators li.ardenza{ background: url(../images/p-brand/p-ardenza.png) no-repeat;  width: 200px; height: 50px; }
#gallery-product .list-sl-category2 .carousel-indicators li.merzeille{ background: url(../images/p-brand/p-merzeille.png) no-repeat; width: 226px; height: 57px; }
#gallery-product .list-sl-category2 .carousel-indicators li.lightwood{ background: url(../images/p-brand/p-lightwood.png) no-repeat; width: 97px; height: 60px; }
#gallery-product .list-sl-category2 .carousel-indicators li.htl{ background: url(../images/p-brand/p-htl.png) no-repeat; width: 91px; height: 50px;  }

#gallery-product .list-sl-category2 .carousel-indicators li.clie.active{ background: url(../images/p-brand/p-clie-active.png) no-repeat; width: 144px; height: 50px; }
#gallery-product .list-sl-category2 .carousel-indicators li.ardenza.active{ background: url(../images/p-brand/p-ardenza-active.png) no-repeat;  width: 200px; height: 50px; }
#gallery-product .list-sl-category2 .carousel-indicators li.merzeille.active{ background: url(../images/p-brand/p-merzeille-active.png) no-repeat; width: 226px; height: 57px; }
#gallery-product .list-sl-category2 .carousel-indicators li.lightwood.active{ background: url(../images/p-brand/p-lightwood-active.png) no-repeat; width: 97px; height: 60px; }
#gallery-product .list-sl-category2 .carousel-indicators li.htl.active{ background: url(../images/p-brand/p-htl-active.png) no-repeat; width: 91px; height: 50px;  }



.desc-gallery{ text-align: center; max-width: 660px; margin: 0 auto; }
.desc-gallery h1.title{font-size: 26px; color: #FFF; margin: 0px; margin: 0; line-height: 1; margin-bottom: 3px;}
.desc-gallery p{font-size: 16px;}
.desc-gallery a.view-moreg{
    display: inline-block;
    font-size: 17px;
    color: #995e2c;
    padding: 13px 34px;
    border: 2px solid #7d4e28;
    text-decoration: none;
}
.desc-gallery a.view-moreg:hover,
.desc-gallery a.view-moreg:focus{
    text-decoration: none;
    color: #ac6529;
}


/*-------------------------- ICON ----------------------------*/
/*ICON*/
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.icon-chevright-banner{
    background: url(../images/chev-right-banner.png) no-repeat;
    width: 17px;
    height: 26px;
    line-height: 24px;
    margin-top: 0px;
}
.icon-chev-galler-left{
    background: url(../images/chev-product-left.png) no-repeat;
    width: 33px;
    height: 60px;
    line-height: 24px;
    margin-top: 0px;   
}
.icon-chev-galler-right{
    background: url(../images/chev-product-right.png) no-repeat;
    width: 33px;
    height: 60px;
    line-height: 24px;
    margin-top: 0px;
}

.lines-white{
    background-color: #fff;
    height: 1px;
}
.lines-black{
    height: 1px;
    background-color: #cccccc;
}

p.bg-danger{
    background: #F2DEDE;
    padding: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
p.bg-success{
    background: #DFF0D8;
    padding: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ill-about.il2 img{
    float: right;
}