<footer>
	<div class="prelatif container">
		<div class="clear height-50"></div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="cn-menu-footer">
					<div class="title">WISMA FURNITURE <br>
					WEBSITE OVERVIEW</div>
					<div class="clear height-20"></div>
					<div class="list">
						<ul>
							<li><a href="{{ url('homepage') }}">HOME</a></li>
							<li><a href="{{ url('services') }}">SERVICES</a></li>
							<li><a href="{{ url('about') }}">ABOUT</a></li>
							<li><a href="{{ url('contactus') }}">CONTACT</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="cn-menu-footer">
					<div class="title">WISMA FURNITURE <br>
					PRODUCT CATEGORY</div>
					<div class="clear height-20"></div>
					<div class="list fleft text-left">
						<ul>
							<li><a href="{{ url('product/category') }}">SOFA</a></li>
							<li><a href="{{ url('product/category') }}">DINING SETS</a></li>
							<li><a href="{{ url('product/category') }}">BEDROOM SETS</a></li>
							<li><a href="{{ url('product/category') }}">COFFEE TABLE</a></li>
						</ul>
					</div>
					<div class="list fleft text-left m2">
						<ul>
							<li><a href="{{ url('product/category') }}">WARDROBES</a></li>
							{# <li><a href="#">CUPBOARDS</a></li>
							<li><a href="{{ url('product/category') }}">PEDESTAL</a></li> #}
							<li><a href="{{ url('product/category') }}">ACCESSORIES</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="fright rightc-footer text-right">
					<div class="lgo-footer"><a href="{{ url('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/logo-footer.png" alt="logo wisma indah - furniture mebel surabaya - wisma indah"></a></div>
					<div class="clear height-30"></div>
					<div class="t-info-footer">
						Jl. Gemblongan 69i-71, Surabaya<br>
						Jl. Gemblongan 75, Surabaya
						<br><br>
						Phone. 031 534 5303<br>
						Whatsapp. <a href="https://wa.me/6281233534922">0812 3353 4922</a> &amp; <a href="https://wa.me/6281330403999">0813 3040 3999</a><br>
						Instagram. <a href="https://instagram.com/wismaindahfurniture">@wismaindahfurniture</a><br>
						<a href="mailto:info@wisma-indah.com">info@wisma-indah.com</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear height-35"></div>
		<div class="lines-orange"></div>
		<div class="clear height-15"></div>
		<div class="text-left t-copyright fleft">
			Copyright &copy; 2014 Wisma Indah - Furniture & Accessories Surabaya. <br>All rights reserved.
		</div>
		<div class="text-right t-copyright fright">
			Design by <a href="http://markdesign.net/" title="Website Design Surabaya" target="_blank">Mark Design</a>.
		</div>
		<div class="clear height-15"></div>
	</div>
</footer>