<header class="head">
	<div class="wrap-header hidden-xs">
		{# Start Header Dekstop #}
		<div class="prelatife container">
			<div class="row">
				<div class="col-md-3">
					<div class="pos-lgo-header"><a href="{{ url('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/logo-wisma-indah.png" alt="logo wisma indah - furniture mebel surabaya - wisma indah"></a></div>
				</div>
				<div class="col-md-9">
					<div class="clear height-15"></div>
					<div class="right-header fright">
						<div class="top-menu">
						<ul class="list-inline">
							<li class="{% if menu == 'homepage' %}active{% endif %}"><a href="{{ url('homepage') }}">HOME</a></li>
							{# <li><a href="#">PRODUCTS &nbsp;<i class="fa fa-chevron-down fa-1"></i></a></li> #}
							<li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS &nbsp;<i class="fa fa-chevron-down fa-1"></i></a>
					          <ul class="dropdown-menu" role="menu">
					            <li><a href="{{ url('product/brand') }}">PRODUCTS BY BRAND</a></li>
					            <li><a href="{{ url('product/category') }}">PRODUCTS BY CATEGORY</a></li>
					          </ul>
					        </li>
							<li><a href="{{ url('services') }}">SERVICES</a></li>
							<li><a href="{{ url('about') }}">ABOUT</a></li>
							<li><a href="{{ url('contactus') }}">CONTACT</a></li>
						</ul>
						</div>
						<div class="clear height-10"></div>
						<div class="h-assitan fright text-right">Need Assistance? &nbsp;&nbsp;<i class="fa fa-phone"></i> <i class="fa fa-whatsapp"></i> &nbsp;<a href="https://wa.me/6281233534922">0812 3353 4922</a> &amp; <a href="https://wa.me/6281330403999">0813 3040 3999</a></div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			{# End header Dekstop #}
			<div class="clear"></div>
		</div>
	</div>
	{# header responsive #}
	<div class="header-resp visible-xs">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{ url('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/logo-footer.png" alt="logo wisma indah"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		      <ul class="nav navbar-nav">
		        <li><a href="{{ url('homepage') }}">HOME</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		             <li><a href="{{ url('product/brand') }}">PRODUCTS BY BRAND</a></li>
					 <li><a href="{{ url('product/category') }}">PRODUCTS BY CATEGORY</a></li>
		          </ul>
		        </li>
		        <li><a href="{{ url('services') }}">SERVICES</a></li>
				<li><a href="{{ url('about') }}">ABOUT</a></li>
				<li><a href="{{ url('contactus') }}">CONTACT</a></li>
		      </ul>

		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	{# end header responsive #}

</header>