<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta name="keywords" content="Wisma Indah, Mebel Gemblongan, Furniture Surabaya">
	<meta name="description" content="Wisma Indah adalah pioneer dalam furnitur mewah classic maupun modern di Gemblongan, Surabaya. Wisma Indah menghadirkan furniture pelengkap interior rumah anda dengan kualitas produk tertinggi dan harga yang sangat bersaing.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/comon.css" />

    <link rel="Shortcut Icon" href="{{ app.request.baseurl }}/asset/images/favicon.png" />
	<link rel="icon" type="image/ico" href="{{ app.request.baseurl }}/asset/images/favicon.png" />
	<link rel="icon" type="image/x-icon" href="{{ app.request.baseurl }}/asset/images/favicon.png" />
	
	<!-- jQuery -->
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/jquery.min.js"></script>
	
	<link rel="stylesheet" href="{{ app.request.baseurl }}/asset/js/fancy/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/fancy/jquery.fancybox.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.fancy-img').fancybox({
					type		: 'image',
					fitToView	: false,
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none',
				});

			$('.fancy-ajx').fancybox({
				type		: 'ajax',
				width  		: '681',
				height 		: '397',
				fitToView	: false,
				autoSize	: false,
				closeClick	: false,
			});

		});
	</script>
	
	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/bootstrap/js/bootstrap.js"></script>	
    <!-- Bootstrap theme -->
    <link href="{{ app.request.baseurl }}/asset/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!--[if !IE]><!-->
	<!--<script type='text/javascript' src='{{ app.request.baseurl }}/asset/js/jquery.mobile-1.0rc2.customized.min.js'></script>-->
	<!--<![endif]-->
	<script type='text/javascript' src='{{ app.request.baseurl }}/asset/js/jquery.easing.1.3.js'></script> 
	<script type='text/javascript' src='{{ app.request.baseurl }}/asset/js/jquery.hoverIntent.minified.js'></script>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/styles.css">
	
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<!-- Responsive -->
	<link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/media.styles.css">

	<!-- Font awesome -->
	{# {{ app.request.baseurl }}/asset/font-awesome/css/font-awesome.css #}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Open Graph data -->
	<meta property="og:title" content="Wisma Indah, Mebel Gemblongan, Furniture Surabaya">
	<meta property="og:site_name" content="Wisma Indah">
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ url('homepage') }}" />
	<meta property="og:image" content="{{ app.request.baseurl }}/asset/images/logo-dauni.png" />
	<meta property="og:description" content="Wisma Indah adalah pioneer dalam furnitur mewah classic maupun modern di Gemblongan, Surabaya. Wisma Indah menghadirkan furniture pelengkap interior rumah anda dengan kualitas produk tertinggi dan harga yang sangat bersaing.">
	<meta property="fb:app_id" content="242200682572568">

	<script type="text/javascript">
		$(document).ready(function(){
			
			var width = $(window).width();
		    if (width >= 768) {
				$('.dropdown').on('show.bs.dropdown', function(e){
				    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
				  });

				  // ADD SLIDEUP ANIMATION TO DROPDOWN //
				  $('.dropdown').on('hide.bs.dropdown', function(e){
				    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
				  });

		    }

		})
	</script>

</head>
<!-- Preloader -->
    <div id="preloader">
        <div id="statusloader">&nbsp;</div>
    </div>
    
{% block maincontent %}{% endblock %}
<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$("#statusloader").fadeOut(); // will first fade out the loading animation
			$("#preloader").delay(50).fadeOut("slow"); // will fade out the white DIV that covers the website.

			// $('.wrapper').show();
		})
	//]]>
</script>
</html>