/* Tiny Scrollbar */
#scrollbar1 { width: 600px; }
#scrollbar1 .viewport { /*width: 500px;*/ height: 430px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-track-y-alpines.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 9px; }
#scrollbar1 .track { background: transparent url(../images/bg-track-end-alpines.png) no-repeat 0 100%; height: 100%; width:9px; position: relative; padding: 0 0px; }
#scrollbar1 .thumb {
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
 background: transparent url(../images/bg-srollbar-alpines.png) no-repeat 50% 100%; height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 1px; }
#scrollbar1 .thumb .end { 
	background: transparent url(../images/bg-srollbar-alpines.png) no-repeat 50% 0; overflow: hidden; height: 15px; width: 8px; 
	-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
