{% extends layout %}
{% block title %}About Us - Wisma Indah - Furniture Mebel Gemblongan Surabaya{% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	<div class="middle-outer-content">
	<div class="prelatife container">
		<div class="clear height-20"></div>
		<div class="height-2"></div>
		<div class="text-right breadcumb"><a href="{{ url('homepage') }}">Home</a> &gt; About</div>
		<div class="clear height-30"></div>
		<div class="inside content-text">
			<h1>ABOUT WISMA INDAH</h1>
			<h2>IF QUALITY IS WHAT YOUR LOOKING FOR...</h2>

			<div class="clear height-35"></div>
			<div class="ill-about"><img src="{{ app.request.baseurl }}/asset/images/ill-about1.jpg" alt="illustrasi about - furniture mebel surabaya - wisma indah" class="img-responsive"></div>
			<div class="clear height-40"></div>
			<div class="row">
				<div class="col-md-6">
					<span>Wisma Indah was established in 1980, <br>
located in the heart of Surabaya, Gemblongan street.</span>
					<p>In the early of its establishment, Wisma Indah ran its marketing locally. As the time passed by as well as achieved experiences and constant quality improvement, the company is evolving faster year by year. Besides self-producing and designing its collection, Wisma Indah also presents the best high-end quality interior accessories, local brands or imported brands.</p>
					<p>As an effort to fulfill such big demands and to maintain the assurance given to the company, Wisma Indah then developed it's own Furniture and Interior Design division named Clie Design, which is developed to make a harmonious unification between furnitures form and the interior layout of a room. Uniqueness and distinguish combination has given a particular characteristic of the company in the customers point of view, which later increase demands from abroad.</p>
				</div>
				<div class="col-md-6">
					<div class="ill-about il2"><img src="{{ app.request.baseurl }}/asset/images/ill-about2.jpg" class="img-responsive" alt="illustrasi about - furniture mebel surabaya - wisma indah"></div>
				</div>
			</div>
			<div class="clear height-50"></div>
			<div class="height-20"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		</div>
	</div>
	{# end middle content #}
	{# start bottom content #}
	<div class="back-bottom-ct-s">
		<div class="prelatife container">
			<div class="cont-brands">
				<div class="clear height-10"></div>
				<div class="title-banner text-center">OUR BRANDS</div>
				<div class="clear height-30"></div>
				<div class="height-5"></div>
				<div class="inside-list">
					<ul>
						{# <li><div class="item"><a href="{{ url('product/brand') }}"><img src="{{ app.request.baseurl }}/asset/images/lg-clie-bot.png" alt="clie furniture"></a></div></li> #}
						<li><div class="item"><a href="{{ url('product/brand') }}#ardenza"><img src="{{ app.request.baseurl }}/asset/images/lg-ardena-bot.png" alt="ardenza minimalist furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#merzeille"><img src="{{ app.request.baseurl }}/asset/images/lg-merzelle-bot.png" alt="marzeille classic furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#lightwood"><img src="{{ app.request.baseurl }}/asset/images/lg-lightwood-bot.png" alt="light wood"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#htl"><img src="{{ app.request.baseurl }}/asset/images/lg-htl-bot.png" alt="htl"></a></div></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	{# end bottom content #}

	<div class="clear"></div>
{% endblock %}