{% extends layout %}
{% block title %}Brochure - Alpines{% endblock %}
{% block menu %}brochure{% endblock %}
{% block content %}
	<div class="out-content">
					<div class="b-tlt">
						<h1>Brochures</h1>
					</div>
					<div class="back-bt-close-rightsd">
						<a href="{{ app.request.baseurl }}"><img src="{{ app.request.baseurl }}/asset/images/back-btn-closed-box.png" alt="close button"></a>
					</div>
					<div class="clear"></div>
					<div class="ins-content">
						<div class="back-grey w661">
							<div class="ins content-text">
								<div class="list-brochures-data">
									<div class="item">
										<div class="back-black">
											<a target="_blank" href="{{ app.request.baseurl }}/document/Flyer-alpines-A4.pdf"><img src="{{ app.request.baseurl }}/asset/images/brochure.jpg" alt="Brochures Alpines"></a>

											<div class="d-icon"><a target="_blank" href="{{ app.request.baseurl }}/document/Flyer-alpines-A4.pdf"><i class="icon-perbesar"></i></a></div>
										</div>
										<div class="clear height-15"></div>
										<div class="name"><a target="_blank" href="{{ app.request.baseurl }}/document/Flyer-alpines-A4.pdf">Alpines Hotel Flier</a></div>
										
									</div>

									<div class="clear"></div>
								</div>
 
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
{% endblock %}
