{% extends layout %}
{% block title %}Contact Us - Wisma Indah - Furniture Mebel Gemblongan Surabaya{% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
	<div class="middle-outer-content">
	<div class="prelatife container">
		<div class="clear height-20"></div>
		<div class="height-2"></div>
		<div class="text-right breadcumb"><a href="{{ url('homepage') }}">Home</a> &gt; Contact</div>
		<div class="clear height-30"></div>
		<div class="inside content-text">
			<h1>CONTACT WISMA INDAH</h1>

			<div class="clear height-50"></div>
			<div class="height-5"></div>
			<div class="height-2"></div>
				
				{# c contact #}
					<div class="addr-contact text-center">
						<h2 class="t-contact">WISMA INDAH FURNITURE SURABAYA</h2>
						Jl. Gemblongan 69i-71, Surabaya 60174<br>Jawa Timur - Indonesia<br>Tel. 62.31 5345303, 5346670, 5479166<br>Fax. 62.31 5315912<br>Whatsapp. <a href="https://wa.me/6281233534922" target="_blank">081233534922</a>, <a href="https://wa.me/6281330403999" target="_blank">081330403999</a><br>Instagram. @<a href="https://instagram.com/wismaindahfurniture">wismaindahfurniture</a>, @<a href="https://instagram.com/katalog.wismaindahfurniture" target="_blank">katalog.wismaindahfurniture</a><br><a href="mailto:info@wisma-indah.com">info@wisma-indah.com</a>
					</div>
					<div class="clear height-50"></div>
					<div class="height-25"></div>
					<span class="networkof dblock text-center">NETWORKS OF WISMA INDAH</span>
					<div class="clear height-25"></div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="row">
									<div class="col-md-3 col-sm-3">
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="addr-contact text-center">
											<h2 class="t-contact">CLIE SURABAYA</h2>
											Jl. Gemblongan 75, Surabaya<br>Jawa Timur - Indonesia<br>Tel. 62.31 5345303, 5346670, 5479166<br>
											Whatsapp. <a href="https://wa.me/6281233534922" target="_blank">081233534922</a>, <a href="https://wa.me/6281330403999" target="_blank">081330403999</a><br>
											Instagram. @<a href="https://instagram.com/cliedesign">cliedesign</a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3">
									</div>
								</div>	
						</div>
						<div class="col-md-2"></div>
					</div>

				{# c contact #}

			<div class="clear height-50"></div>
			<div class="height-15"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		</div>
	</div>
	{# end middle content #}
	{# start bottom content #}
	<div class="back-bottom-ct-s">
		<div class="prelatife container">
			<div class="cont-brands">
				<div class="clear height-10"></div>
				<div class="title-banner text-center">OUR BRANDS</div>
				<div class="clear height-30"></div>
				<div class="height-5"></div>
				<div class="inside-list">
					<ul>
						{# <li><div class="item"><a href="{{ url('product/brand') }}"><img src="{{ app.request.baseurl }}/asset/images/lg-clie-bot.png" alt="clie furniture"></a></div></li> #}
						<li><div class="item"><a href="{{ url('product/brand') }}#ardenza"><img src="{{ app.request.baseurl }}/asset/images/lg-ardena-bot.png" alt="ardenza minimalist furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#merzeille"><img src="{{ app.request.baseurl }}/asset/images/lg-merzelle-bot.png" alt="marzeille classic furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#lightwood"><img src="{{ app.request.baseurl }}/asset/images/lg-lightwood-bot.png" alt="light wood"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#htl"><img src="{{ app.request.baseurl }}/asset/images/lg-htl-bot.png" alt="htl"></a></div></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	{# end bottom content #}

	<div class="clear"></div>
{% endblock %}