{% extends layout %}
{% block title %}Facilities - Alpines{% endblock %}
{% block menu %}facility{% endblock %}
{% block content %}
	<div class="out-content">
					<div class="b-tlt">
						<h1>FACILITIES</h1>
					</div>
					<div class="back-bt-close-rightsd">
						<a href="{{ app.request.baseurl }}"><img src="{{ app.request.baseurl }}/asset/images/back-btn-closed-box.png" alt="close button"></a>
					</div>
					<div class="clear"></div>
					<div class="ins-content">
						<div class="back-grey w661">
							<div class="ins content-text">
										<div id="scrollbar1">
										<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
										<div class="viewport">
											 <div class="overview">
												<div class="list-facility-cols">
														{% for list_facility in data %}
														<div class="item">
															<div class="left pict"><img src="{{ app.request.baseurl }}/images/facility/{{ list_facility.img }}" alt=""></div>
															<div class="right con-text">
																<h4>{{ list_facility.name }}</h4>
																{# <p>Guests can look forward to all-day dining at The Restaurant, or choose from in-room dining and enjoying a bite by the 25-metre long U-shapped pool. The hotel also features a spa and health club to cater to guest`s wellness needs as they find rejuvenation in this secluded oasis.</p> #}
																{{ list_facility.desc|raw }}
															</div>
															<div class="clear"></div>
														</div>
														{% endfor %}

													<div class="clear"></div>
												</div>

										</div>
									</div>
								</div>

								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/scrollbar/js/jquery.tinyscrollbar.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#scrollbar1').tinyscrollbar();	
		});
	</script>
{% endblock %}
