{% extends layout %}
{% block title %}Wisma Indah - Furniture Mebel Gemblongan Surabaya{% endblock %}
{% block menu %}homepage{% endblock %}
{% block content %}
	<div class="middle-outer-content">
	<div class="prelatife container">
		<div class="clear height-15"></div>
		<div class="height-2"></div>
		<div class="inside">
			{# start slide #}
			<div id="fcs_home" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  {# <ol class="carousel-indicators">
				    <li data-target="#fcs_home" data-slide-to="0" class="active"></li>
				    <li data-target="#fcs_home" data-slide-to="1"></li>
				    <li data-target="#fcs_home" data-slide-to="2"></li>
				  </ol> #}

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="{{ app.request.baseurl }}/asset/images/fcs-1.jpg" alt="feature slider - furniture mebel surabaya - wisma indah" >
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/fcs-2.jpg" alt="feature slider - furniture mebel surabaya - wisma indah" >
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/fcs-3.jpg" alt="feature slider - furniture mebel surabaya - wisma indah" >
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/fcs-4.jpg" alt="feature slider - furniture mebel surabaya - wisma indah" >
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/fcs-5.jpg" alt="feature slider - furniture mebel surabaya - wisma indah" >
				    </div>
				  </div>

				  <!-- Controls -->
				  <div class="control-nav-sk">
					  <a class="left carou-le" href="#fcs_home" role="button" data-slide="prev">
					    <img src="{{ app.request.baseurl }}/asset/images/fcs-chev-left.png">
					  </a>
					  <a class="right carou-ri" href="#fcs_home" role="button" data-slide="next">
					    <img src="{{ app.request.baseurl }}/asset/images/fcs-chev-right.png">
					  </a>
				  </div>
					
				  <div class="clear"></div>
				</div>
			{# end slide #}
			<div class="clear height-25"></div>
			<div class="height-3"></div>

			{# outer banner #}
					<div class="row outer-banner">
						<div class="col-md-4 col-sm-12">
							<div class="text-first-banner">Enjoy the elegance of luxurious
furniture and spectacular
furnishing quality, all redefined <br>
in one roof...</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="banner-item bnimage">
									<a href="{{ url('product/category') }}"><img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/banner-1.jpg" alt="banner product gallery - furniture mebel surabaya - wisma indah"></a>
									<div class="d-title">
										<a href="{{ url('product/category') }}">
											<span class="title fleft text-left dblock">View Our Product Gallery</span>
											<span class="text-right fright dblock scon first"><i class="icon-chevright-banner"></i></span>
										</a>
									</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="banner-item margin-left-7 bnimage">
								<a href="{{ url('services') }}"><img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/banner-2.jpg" alt="banner our services - furniture mebel surabaya - wisma indah"></a>
								<div class="d-title">
									<a href="{{ url('services') }}">
										<span class="title fleft text-left dblock">Learn more about our services</span>
										<span class="text-right fright dblock scon"><i class="icon-chevright-banner"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="clear height-25"></div>
				{# end outer banner #}

			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		</div>
	</div>
	{# end middle content #}
	{# start bottom content #}
	<div class="back-bottom-ct-s">
		<div class="prelatife container">
			<div class="cont-brands">
				<div class="clear height-10"></div>
				<div class="title-banner text-center">OUR BRANDS</div>
				<div class="clear height-30"></div>
				<div class="height-5"></div>
				<div class="inside-list">
					<ul>
						{# <li><div class="item"><a href="{{ url('product/brand') }}"><img src="{{ app.request.baseurl }}/asset/images/lg-clie-bot.png" alt="clie furniture"></a></div></li> #}
						<li><div class="item"><a href="{{ url('product/brand') }}#ardenza"><img src="{{ app.request.baseurl }}/asset/images/lg-ardena-bot.png" alt="ardenza minimalist furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#merzeille"><img src="{{ app.request.baseurl }}/asset/images/lg-merzelle-bot.png" alt="marzeille classic furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#lightwood"><img src="{{ app.request.baseurl }}/asset/images/lg-lightwood-bot.png" alt="light wood"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#htl"><img src="{{ app.request.baseurl }}/asset/images/lg-htl-bot.png" alt="htl"></a></div></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	{# end bottom content #}

	<div class="clear"></div>
{% endblock %}