{% extends layout %}
{% block title %}Outlets - Adara Spa - Spa, Massage, Wellness Indonesia.{% endblock %}
{% block menu %}outlet{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=578821772130895";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

	<div class="outer-middle">
		<div class="insback-yellow-middle">
			<div class="prelatif container">
					<div class="pull-left left-content">
						<div class="inside content-text">
								<h1>Adara Spa Outlets</h1>
								<span>The increased activity and mobility in the busy and burstling city will afect a person`s well-being.<br />
								Therefore, the demands for rejuvenation and wellness services is increasing.</span>
								<p>Find the Adara Spa outlets near you. Adara Spa is here to grow and will accommodate the best services of spa - wellness through our outlets, reaching you closer everyday.</p>

								<div class="left bs-share">
									<div class="s-facebook">
											<div class="fb-like" data-href="" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
									</div>
									<div class="s-tweet">
										        <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
												<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
									</div>
									<div class="s-google">
										<!-- Place this tag where you want the +1 button to render. -->
										<div class="g-plusone" data-size="tall"></div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>
					<div class="pull-right illustration-blockright">
						<img src="{{ app.request.baseurl }}/asset/images/ill-outlets.jpg" alt="" class="img-responsive">
					</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div><div class="clear"></div>
		<div class="back-bottom-yellowinside"></div>
		<div class="clear"></div>
		<div class="back-wood-sbanner">
			<div class="prelatif container">
					<div class="clear height-30"></div>
					<div class="explore-name">
						<div class="pull-left lineswhite-left visible-lg"></div>
						<div class="text">Spa Program at Adara Spa</div>
						<div class="pull-right lineswhite-left visible-lg"></div>
					</div>
					<div class="clear height-10"></div>
					<div class="banner-about outlets margin-0">
						<div class="clear height-50"></div>
						<div id="jawa_timur" class="name-location text-center">
							Jawa Timur
						</div>
						<div class="clear height-35"></div>

						<div class="row">
							<div class="col-md-4">
								<div class="text-dsc-tservices l-outlets">
										<span>Hotel Aston Bojonegoro</span> <br>
										Jl. Mh. Thamrin No. 100<br>
										T. (+62 353)  571 777<br>
										Bojonegoro, East Java, Indonesia <br>
										E. <a href="mailto:info@theadaraspa.com">info@theadaraspa.com</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="text-dsc-tservices l-outlets">
										<span>Fave Graha Agung</span> <br>
										Jl. Mayjend. Yono Soewoyo, <br> 
										Middle Ring Road Pakuwon Square AKII No. 10-11, <br>
										T. (+62 31) 9900 0090 <br>
										Surabaya, East Java, Indonesia<br>
										E. <a href="mailto:info@theadaraspa.com">info@theadaraspa.com</a>
								</div>
							</div>
														

							<div class="clear"></div>
						</div>
						<div class="clear height-30"></div>

						<div class="clear"></div>
					</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

		</div>
		<div class="clear"></div>
	</div>

	{% if lokasi %}
		<script type="text/javascript">
			// $("#menuscrl_m").live('click', function(){
				var id = '{{ lokasi }}';
				//alert(id);
				$.scrollTo('#'+id , 1500);
			// });
		</script>
	{% endif %}
{% endblock %}
