{% extends layout %}
{% block title %}Partnership - Adara Spa - Spa, Massage, Wellness Indonesia.{% endblock %}
{% block menu %}partner{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=578821772130895";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

	<div class="outer-middle">
		<div class="insback-yellow-middle">
			<div class="prelatif container">
					<div class="pull-left left-content">
						<div class="inside content-text">
								<h1>Partnership with <br>
									Adara Spa</h1>
								<span>Let&#39;s together build a partnership, promoting a life and body balance throughout the country and even internationally.</span>
								<p>Adara Spa is an innovative tourism and lifestyle company which employs the strength of the traditional business model and leverages on new age e-business strategies. We specializes in design, development and management services of luxury day spas, wellness and health care center.</p>

								<div class="left bs-share">
									<div class="s-facebook">
											<div class="fb-like" data-href="" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
									</div>
									<div class="s-tweet">
										        <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
												<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
									</div>
									<div class="s-google">
										<!-- Place this tag where you want the +1 button to render. -->
										<div class="g-plusone" data-size="tall"></div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>
					<div class="pull-right illustration-blockright">
						<img src="{{ app.request.baseurl }}/asset/images/ill-partnership.jpg" alt="" class="img-responsive">
					</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div><div class="clear"></div>
		<div class="back-bottom-yellowinside"></div>
		<div class="clear"></div>
		<div class="back-wood-sbanner">
			<div class="prelatif container">
					<div class="clear height-30"></div>
					<div class="explore-name">
						<div class="pull-left lineswhite-left visible-lg"></div>
						<div class="text">Benefits of Partnerships</div>
						<div class="pull-right lineswhite-left visible-lg"></div>
					</div>
					<div class="clear height-10"></div>
					<div class="banner-about partners margin-0">

						<div class="row">

							<div class="col-md-4">
								<div class="clear height-10"></div>
								<div class="height-2"></div>
								<div class="pict-back-service"><img src="{{ app.request.baseurl }}/images/partnership/adara-product.png" alt="Full realm of products & services"></div>
								<div class="clear height-20"></div>
								<div class="title-center-tservices">Full realm of <br> products & services</div>
								<div class="clear height-25"></div>
								<div class="text-dsc-tservices">
									Adara Spa offers comprehensive business plan and management services; selection of high quality herbal products, customized skincare, and spa products and services.
								</div>
							</div>
							<div class="col-md-4">
								<div class="clear height-10"></div>
								<div class="height-2"></div>
								<div class="pict-back-service"><img src="{{ app.request.baseurl }}/images/partnership/adara-proven.png" alt="Proven Experiences"></div>
								<div class="clear height-20"></div>
								<div class="title-center-tservices">Proven Experiences</div>
								<div class="clear height-25"></div>
								<div class="text-dsc-tservices">
									Adara Spa and its associates are truly honored to be operating spa facilities at Graha Residence serviced apartments Surabaya, Hotel Bumi Surabaya, Santika Jemursari Surabaya, Grand Darmo Suites Hotel Surabaya, Quest Hotel Surabaya, and Fave Agung Darmo Surabaya. In respect of the above partnerships, our managament team has gained vast experiences in servicing up-market tourist, business executives and VIPs from various societies.
								</div>
							</div>
							<div class="col-md-4">
								<div class="clear height-10"></div>
								<div class="height-2"></div>
								<div class="pict-back-service"><img src="{{ app.request.baseurl }}/images/partnership/adara-resources.png" alt="Access to Resources"></div>
								<div class="clear height-20"></div>
								<div class="title-center-tservices">Access to Resources</div>
								<div class="clear height-25"></div>
								<div class="text-dsc-tservices">
									Adara Spa are able to access the best resources to educate and support our management team and business partners in being the most knowledgable task force. We provided well trained human resources that most of them are certified from LSP Cohe Spa as a professional cerfitication institute.
								</div>
							</div>

							<div class="col-md-offset-4 col-md-4 col-md-offset-4">
								<div class="clear height-10"></div>
								<div class="height-2"></div>
								<div class="pict-back-service"><img src="{{ app.request.baseurl }}/images/partnership/adara-key.png" alt="Our Keys of Success"></div>
								<div class="clear height-20"></div>
								<div class="title-center-tservices">Our Keys of Success</div>
								<div class="clear height-25"></div>
								<div class="text-dsc-tservices">
									We believe that our success is solely achieved upon sharing innovative concepts, knowledge, experiences and support from our business partners and consultants. Thus, by uniting these keys of success respectively, a realistic business plan and management system that truly works in transforming of any wellness center & spa investment into more effective and efficient entity; better profits and fast tracked capital return.
								</div>
							</div>
							

							<div class="clear"></div>
						</div>
						{# end row #}

						<div class="clear height-30"></div>

						<div class="explore-name">
							<div class="pull-left lineswhite-left visible-lg"></div>
							<div class="text" style="width: 343px;">Partnership Enquiry Form</div>
							<div class="pull-right lineswhite-left visible-lg"></div>
						</div>
						<div class="clear height-40"></div>
						<div class="box-form-partner">
							<form class="form-horizontal" role="form" action=""  method="post">
								{% if error|length > 0 %}
								<div class="padding-left-15">
									<p class="bg-danger">
									    <b>Please fix the following input errors: </b><br>
								    	{% for dataError in error %}
								    	{{ dataError }} <br>
								    	{% endfor %}
								    </p>
								</div>
								<div class="clear height-10"></div>
								{% endif %}
								{% if msg == 'success' %}
								<div class="padding-left-15">
								    <p class="bg-success">
									    Thank you for contacting us! we will respond to you shortly.
								    </p>
								</div>
								<div class="clear height-10"></div>
								{% endif %}
							<div class="row">
								<div class="col-md-6">

									<div class="form-group">
									    <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
									    <div class="col-sm-5">
									      <input type="text" class="form-control" name="partner[first_name]" value="{{ data.first_name }}" >
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Email Address</label>
									    <div class="col-sm-5">
									      <input type="text" class="form-control" name="partner[email_address]" value="{{ data.email_address }}" >
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Phone</label>
									    <div class="col-sm-5">
									      <input type="text" class="form-control" name="partner[phone]" value="{{ data.phone }}" >
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Address</label>
									    <div class="col-sm-5">
									      <input type="text" class="form-control" name="partner[address]" value="{{ data.address }}" >
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">City</label>
									    <div class="col-sm-5">
									      <input type="text" class="form-control" name="partner[city]" value="{{ data.city }}" >
									    </div>
									  </div>

								</div> 
								<div class="col-md-6">
									<div class="pull-right margin-left-25">

									<div class="form-group">
									    <label for="inputEmail3" class="col-sm-3 control-label">Comments / Enquiry</label>
									    <div class="col-sm-5">
									      	<textarea class="form-control" name="partner[message]" rows="3">{{ data.message }}</textarea>
									    </div>
									</div>
									<div class="form-group">
									    <label for="inputEmail3" class="col-sm-3 control-label">&nbsp;</label>
									    <div class="col-sm-5">
									      	<button type="submit" class="btn bt-green-readmore">Submit  <i class="icon-arrow-default"></i></button>
									    </div>
									</div>

									</div>
								</div>
								<div class="clear"></div>
							</div>
							  
							</form>

							<div class="clear height-10"></div>		
						</div>
						<div class="clear height-45"></div>


						<div class="clear"></div>
					</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
