{% extends layout %}
{% block content %}
	{# <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/comon.css" />
    <!-- jQuery -->
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/styles.css">
	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="{{ app.request.baseurl }}/asset/bootstrap/js/bootstrap.js"></script>	
    <!-- Bootstrap theme -->
    <link href="{{ app.request.baseurl }}/asset/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"> #}

	<style type="text/css">
		/*body{
			background-color: #D2D2D2;
		}*/
		.box-popup{
			/*width: 681px;
			height: 397px;*/
			background-color: #FFF;
		}
		.box-popup .inside{
			padding: 35px 23px;
		}
		.box-popup .inside .hdr-popup{
			position: relative;
			border-bottom: 1px solid #ccc;
		}
		.hdr-popup .news-t-popup{
			
		}
		.hdr-popup .nat-popup-right{
			bottom: -12px;
			position: relative;
			right: 0px;
		}
		.nat-popup-right a:focus{
			outline: none;
		}
		.nat-popup-right a.prev{
			margin-right: 20px;
		}
		.nat-popup-right a.prev,
		.nat-popup-right a.next,
		.nat-popup-right a.prev:hover,
		.nat-popup-right a.next:hover{
			font-size: 20px;
			line-height: 1;
			font-weight: 300;
			color: #d2d2d3;
			text-decoration: none;
		}
		.nat-popup-right a.prev.active,
		.nat-popup-right a.next.active{
			color: #000;
		}
		.box-popup .inside .back-bd-pop{
			height: 285px;
			border-bottom: 1px solid #ccc;
		}
		.box-popup .inside .back-bd-pop .ins{
			text-align: center;
			padding-top: 65px;
			width: 428px;
			margin: 0 auto;

			font-size: 14px;
			color: #000;
			font-weight: 300;
		}
		.box-popup .inside .back-bd-pop .ins span{
			display: block;

			font-size: 19px;
			color: #000;
			font-weight: 300;
			margin-bottom: 20px;
		}
		.box-popup .inside .back-bd-pop .ins p{
			margin: 0;
			margin-bottom: 15px;
		}
	</style>

	<div class="box-popup" style="text-align: center;">
		{# start inside popup #}
		<div class="inside">
			<div id="carousel-popup-newsk" class="carousel slide c-fade" data-ride="carousel">

					<div class="hdr-popup">
						<div class="pull-left news-t-popup"><img src="{{ app.request.baseurl }}/asset/images/back-newstitle-popup.png" alt=""></div>
						<div class="pull-right nat-popup-right">
							<a class="next pull-right active" href="#carousel-popup-newsk" data-slide="next">NEXT</a>
							<a class="prev pull-right" href="#carousel-popup-newsk" data-slide="prev">PREV</a>
						</div>
						<div class="clear"></div>
					</div>

					<div class="clear height-3"></div>
					<div class="back-bd-pop">
					<!-- Wrapper for slides -->
					  <div class="carousel-inner">

					    <div class="item active">
					      	<div class="ins">
								<span>The Alpines Condotel Batu is a private estate nestled amidst 12,000 square metres of tranquil grounds in the central region of Batu.</span>
								<p>Encompassing 53 butler-serviced rooms, each is equipped with in-room dining service, a full kitchen, a veranda for al fresco meals and barbecues.</p>
								<div class="clear"></div>
							</div>
					    </div>
					    <div class="item">
					      	<div class="ins">
								<span>The Alpines Condotel Batu is a private estate nestled amidst 12,000 square metres of tranquil grounds in the central region of Batu.</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos et architecto amet praesentium quis fugit nemo sint cum pariatur veniam reprehenderit.</p>
								<div class="clear"></div>
							</div>
					    </div>
					    <div class="item">
					      	<div class="ins">
								<span>The Alpines Condotel Batu is a private estate nestled amidst 12,000 square metres of tranquil grounds in the central region of Batu.</span>
								<p>Encompassing 53 butler-serviced rooms, each is equipped with in-room dining service, a full kitchen, a veranda for al fresco meals and barbecues.</p>
								<div class="clear"></div>
							</div>
					    </div>
					  </div>

						<div class="clear"></div>
					</div>

			</div>

			<div class="clear"></div>
		</div>
		{# end inside popup #}
		<div class="clear"></div>
	</div>
	<style type="text/css">
		.back-green-pop p{
			font-size: 14px;
			font-weight: 400;
			color: #353535;
		}
	</style>
{% endblock %}
