{% extends layout %}
{% block title %}Product By Category - Wisma Indah - Furniture Mebel Gemblongan Surabaya{% endblock %}
{% block menu %}product{% endblock %}
{% block content %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#fc_box").live('click',function(){
		    rel = $(this).attr('rel');
		    switch(rel){
		    	// read sofa
		    	case '1':
				  $.fancybox([
				  	  {% for ky,tld in data.sofa %}
				  	  {href : "{{ app.request.baseurl }}/images/category/sofa/{{ tld }}"},
				  	  {% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				case '2':
				  $.fancybox([
				  	  {% for ky,tld in data.dining %}
				  	  {href : "{{ app.request.baseurl }}/images/category/dining sets/{{ tld }}"},
				  	  {% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				case '3':
				  $.fancybox([
				  	  {% for ky,tld in data.bedroom %}
				  	  {href : "{{ app.request.baseurl }}/images/category/bedroom sets/{{ tld }}"},
				  	  {% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				case '4':
				  $.fancybox([
				  	  {% for ky,tld in data.coffee %}
				  	  {href : "{{ app.request.baseurl }}/images/category/coffee table/{{ tld }}"},
				  	  {% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				case '5':
				  $.fancybox([
				  	  {% for ky,tld in data.wardrobes %}
				  	  {href : "{{ app.request.baseurl }}/images/category/wardrobes/{{ tld }}"},
				  	  {% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				case '6':
				  $.fancybox([
				  	  {% for ky,tld in data.asesoris %}
				  	  {href : "{{ app.request.baseurl }}/images/category/accessories/{{ tld }}"},
				  	  {% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				
		    }
		   });
		})
	</script>
	<div class="middle-outer-content">
	<div class="prelatife container">
		<div class="clear height-20"></div>
		<div class="height-2"></div>
		<div class="text-right breadcumb"><a href="{{ url('homepage') }}">Home</a> &gt; Products</div>
		<div class="clear height-30"></div>
		<div class="inside content-text prelatife container">
			<h1>PRODUCTS OF WISMA INDAH</h1>
			<h2>SELECT OUR CATEGORY</h2>
			<div class="clear height-50"></div>
			<div class="height-5"></div>
				{# c product #}
					<div class="outer-gallery-product prelatife">
						<div id="gallery-product" class="carousel slide" >
							  <!-- Indicators -->
							  {# <ol class="carousel-indicators">
							    <li data-target="#gallery-product" data-slide-to="0" class="active"></li>
							    <li data-target="#gallery-product" data-slide-to="1"></li>
							    <li data-target="#gallery-product" data-slide-to="2"></li>
							  </ol> #}
							  <div class="list-sl-category text-center">
									<ul class="list-inline carousel-indicators">
										<li data-target="#gallery-product" data-slide-to="0" class="active">SOFA</li>
										<li data-target="#gallery-product" data-slide-to="1">DINING SETS</li>
										<li data-target="#gallery-product" data-slide-to="2">BEDROOM SETS</li>
										<li data-target="#gallery-product" data-slide-to="3">COFFEE TABLE</li>
										<li data-target="#gallery-product" data-slide-to="4">WARDROBES</li>
										{# <li data-target="#gallery-product" data-slide-to="5">CUPBOARDS</li>
										<li data-target="#gallery-product" data-slide-to="6">PEDESTAL</li> #}
										<li data-target="#gallery-product" data-slide-to="5">ACCESSORIES</li>
									</ul>
								</div>

							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">

							    <div class="item active">
							      <img src="{{ app.request.baseurl }}/images/category/cover-sofa.jpg" alt="sofa  - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">SOFA COLLECTION</h1>
									{# <p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p> #}
									<div class="clear height-20"></div>
									<a href="javascript:;" class="view-moreg" id="fc_box" rel="1">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							     <div class="item">
							      <img src="{{ app.request.baseurl }}/images/category/cover-dining-sets.jpg" alt="dining sets - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">DINING SETS COLLECTION</h1>
									{# <p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p> #}
									<div class="clear height-20"></div>
									<a href="javascript:;" class="view-moreg"  id="fc_box" rel="2">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div class="item">
							      <img src="{{ app.request.baseurl }}/images/category/cover-bedroom-sets.jpg" alt="bedroom - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">BEDROOM SETS COLLECTION</h1>
									{# <p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p> #}
									<div class="clear height-20"></div>
									<a href="javascript:;" class="view-moreg"  id="fc_box" rel="3">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div class="item">
							      <img src="{{ app.request.baseurl }}/images/category/cover-coffe-table.jpg" alt="coffe - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">COFFEE TABLE COLLECTION</h1>
									{# <p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p> #}
									<div class="clear height-20"></div>
									<a href="javascript:;" class="view-moreg"  id="fc_box" rel="4">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div class="item">
							      <img src="{{ app.request.baseurl }}/images/category/cover-wardrobes.jpg" alt="wardrobes - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">WARDROBES COLLECTION</h1>
									{# <p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p> #}
									<div class="clear height-20"></div>
									<a href="javascript:;" class="view-moreg"  id="fc_box" rel="5">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div class="item">
							      <img src="{{ app.request.baseurl }}/images/category/cover-accessories.jpg" alt="accessories - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">ACCESSORIES COLLECTION</h1>
									{# <p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p> #}
									<div class="clear height-20"></div>
									<a href="javascript:;" class="view-moreg"  id="fc_box" rel="6">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    
							  </div>

							  <!-- Controls -->
							  {# <a class="left carousel-control" href="#gallery-product" role="button" data-slide="prev">
							    <i class="icon-chev-galler-left"></i>
							  </a>
							  <a class="right carousel-control" href="#gallery-product" role="button" data-slide="next">
							    <i class="icon-chev-galler-right"></i>
							  </a> #}
							</div>

						<div class="clear"></div>
					</div>
				<script type="text/javascript">
					$(document).ready(function(){
						$('#gallery-product').carousel({
							  interval: 4500,
						})
					})
				</script>
				{# end c product #}
			<div class="clear height-50"></div>
			<div class="height-20"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		</div>
	</div>
	{# end middle content #}

	{# start bottom content #}
	{# <div class="back-bottom-ct-s">
		<div class="prelatife container">
			<div class="cont-brands">
				<div class="clear height-10"></div>
				<div class="title-banner text-center">OUR BRANDS</div>
				<div class="clear height-30"></div>
				<div class="height-5"></div>
				<div class="inside-list">
					<ul>
						<li><div class="item"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/lg-clie-bot.png" alt="clie furniture"></a></div></li>
						<li><div class="item"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/lg-ardena-bot.png" alt="ardenza minimalist furniture"></a></div></li>
						<li><div class="item"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/lg-merzelle-bot.png" alt="marzeille classic furniture"></a></div></li>
						<li><div class="item"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/lg-lightwood-bot.png" alt="light wood"></a></div></li>
						<li><div class="item"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/lg-htl-bot.png" alt="htl"></a></div></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div> #}
	{# end bottom content #}

	<div class="clear"></div>
{% endblock %}