{% extends layout %}
{% block title %}Product By Brand - Wisma Indah - Furniture Mebel Gemblongan Surabaya{% endblock %}
{% block menu %}product{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function(){
		var hash = window.location.hash;
		if (hash) {
			var acts = hash.substring(1);
			// alert(acts);
			// remove clie
			$('.list-sl-category2 .ardenza').removeClass('active');
			$('#ardenza.item').removeClass('active');

			// add active
			$('.list-sl-category2 .'+acts).addClass('active');
			$('#'+acts).addClass('active');
		};

		$("#fc_box").live('click',function(){
		    rel = $(this).attr('rel');
		    switch(rel){
				// ardenza
				case '2':
				  $.fancybox([
				  	{% for ky,tld in data.ardenza %}
				  	  {href : "{{ app.request.baseurl }}/images/product-brand/ardenza/{{ tld }}"},
				  	{% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				// merzeille
				case '3':
				  $.fancybox([
				  	{% for ky,tld in data.merzeille %}
				  	  {href : "{{ app.request.baseurl }}/images/product-brand/merzeille/{{ tld }}"},
				  	{% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				// lightwood
				case '4':
				  $.fancybox([
				  	{% for ky,tld in data.lightwood %}
				  	  {href : "{{ app.request.baseurl }}/images/product-brand/lightwood/{{ tld }}"},
				  	{% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
				// htl
				case '5':
				  $.fancybox([
				  	{% for ky,tld in data.htl %}
				  	  {href : "{{ app.request.baseurl }}/images/product-brand/htl/{{ tld }}"},
				  	{% endfor %}
				   ],{"showCloseButton"	: true,
					"titlePosition" 	: "",
					"padding" 	: 10,
					"titleFormat"		: ""});	
				break;
		    }
		   });

	})
</script>
	<div class="middle-outer-content">
	<div class="prelatife container">
		<div class="clear height-20"></div>
		<div class="height-2"></div>
		<div class="text-right breadcumb"><a href="{{ url('homepage') }}">Home</a> &gt; Products</div>
		<div class="clear height-30"></div>
		<div class="inside content-text prelatife container">
			<h1>PRODUCTS OF WISMA INDAH</h1>
			<h2>SELECT OUR BRANDS</h2>
			<div class="clear height-50"></div>
			<div class="height-5"></div>
				{# c product #}
					<div class="outer-gallery-product prelatife">
						<div id="gallery-product" class="carousel slide" >
							  <!-- Indicators -->
							  <div class="list-sl-category2 text-center">
									<ul class="list-inline carousel-indicators">
										{# <li data-target="#gallery-product" data-slide-to="0" class="active clie"></li> #}
										<li data-target="#gallery-product" data-slide-to="0" class="active ardenza"></li>
										<li data-target="#gallery-product" data-slide-to="1" class="merzeille"></li>
										<li data-target="#gallery-product" data-slide-to="2" class="lightwood"></li>
										<li data-target="#gallery-product" data-slide-to="3" class="htl"></li>
									</ul>
								</div>

							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    {# <div id="clie" class="item active">
							      <img src="{{ app.request.baseurl }}/images/product-brand/cover-clie.jpg" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">CLIE</h1>
									<p>Clie is a full-service design firm committed to design excellence, responsibility and sustainability. Good interior design should be timeless and environmentally sustainable. Dedicated to the creation of custom interiors, the company prides itself on combining architecture and interior design to find unique and aesthetically pleasing solutions. Clie Design completes projects tailored to the individual styles and needs of its clients, on budget and on time.</p>
									<div class="clear height-10"></div>
									<a href="javascript: ;" class="view-moreg" id="fc_box" rel="1">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div> #}
							     <div id="ardenza" class="item active">
							      <img src="{{ app.request.baseurl }}/images/product-brand/cover-ardenza.jpg" alt="brand ardenza - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">ARDENZA</h1>
									<p>The perfect interpretation of the idea of a &ldquo;less is more&rdquo; concept&rdquo; in the way Ardenza means it. Ardenza is the modern minimalist line with a flair. It&rsquo;s hand-made perfection will quickly and easily become part of your home collection. Although minimalist, Ardenza will be able to stand out, within the other products, for the vivacity of its color range, is the perfect furniture to accompany homes with independent personality and against the tide.</p>
									<div class="clear height-10"></div>
									<a href="javascript: ;" class="view-moreg" id="fc_box" rel="2">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div id="merzeille" class="item">
							      <img src="{{ app.request.baseurl }}/images/product-brand/cover-merzeille.jpg" alt="brand merzeille - furniture mebel surabaya - wisma indah" >
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">MERZEILLE</h1>
									<p>For those who love classic timeless design, Merzeille is the answer. Enjoy a mature collection of European style classic furniture in a very luxurious class on its own. Merzeille collection consist of superb art carpentry combined with craftmanship perfection. All the details were so accurate, a bar-raising standard for the classic line furniture.</p>

									<div class="clear height-10"></div>
									<a href="javascript: ;" class="view-moreg" id="fc_box" rel="3">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div id="lightwood" class="item">
							      <img src="{{ app.request.baseurl }}/images/product-brand/cover-lightwood.jpg" alt="brand lightwood - furniture mebel surabaya - wisma indah">
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">LIGHTWOOD</h1>
									<p>Embrace the all-time favourite american style wooden furniture. The rustic vintage feelings from the furniture will turn any place into a pleasant athmosphere and cozy home. The lightwood furniture design are light and effortless, but surely will entertain your visual perspective for every occasion. Lightwood will be a perfect match for all your activities, play, dine, work, sleep and dream!</p>
									<div class="clear height-10"></div>
									<a href="javascript: ;" class="view-moreg" id="fc_box" rel="4">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    <div id="htl" class="item">
							      <img src="{{ app.request.baseurl }}/images/product-brand/cover-htl.jpg" alt="brand htl - furniture mebel surabaya - wisma indah">
							      <div class="clear height-35"></div>
							      <div class="desc-gallery">
							      	<h1 class="title">HTL</h1>
									<p>Starting as a modest sofa maker in 1976, HTL has grown to become one of the world&#39;s leading manufacturers of leather sofas and leather upholstery hides. Listed on the Singapore Exchange since 1993, we are a transnational company focused on the business-to-business sector. Along with a team of 8.000 employees, HTL have fully integrated manufacturing facilities, plus marketing offices across the globe. HTL&#39;s upholstery products are marketed to 52 countries through our vast network of sales partners and retailers.</p>
									<div class="clear height-10"></div>
									<a href="javascript: ;" class="view-moreg" id="fc_box" rel="5">CLICK HERE TO VIEW COLLECTIONS</a>
							      </div>
							    </div>
							    
							  </div>

							  <!-- Controls -->
							  {# <a class="left carousel-control" href="#gallery-product" role="button" data-slide="prev">
							    <i class="icon-chev-galler-left"></i>
							  </a>
							  <a class="right carousel-control" href="#gallery-product" role="button" data-slide="next">
							    <i class="icon-chev-galler-right"></i>
							  </a> #}
							</div>

						<div class="clear"></div>
					</div>
				<script type="text/javascript">
					$(document).ready(function(){
						$('#gallery-product').carousel({
							  interval: 7500,
						})
					})
				</script>
				{# end c product #}
			<div class="clear height-50"></div>
			<div class="height-20"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		</div>
	</div>
	{# end middle content #}

	<div class="clear"></div>
{% endblock %}