{% extends layout %}
{% block content %}
	<div class="box-popup">
		<div class="hdr-popup"><img src="{{ app.request.baseurl }}/asset/images/hd-form-popup.jpg" alt=""></div>
		<div class="clear"></div>
		<div class="back-green-pop">
			<div class="ins">
				<p style="margin-bottom: 15px;">Thank you for your interest in our products, please send us your inquiry, and
				we will provide a helpful assistance as soon as possible.</p>
				<div class="clear height-5"></div>
					<div class="xd-form-popup">
						<form method="post" action="{{ path('product') }}">
							<div class="row">
								<div class="col-xs-6">
									 <div class="form-group">
										    <label>Name</label>
										    <input type="text" name="Product[name]" class="form-control" placeholder="Name" required>
										  </div>
									</div>
									<div class="col-xs-6">
										<div class="form-group">
										    <label>Email</label>
										    <input type="email" name="Product[email]" class="form-control" placeholder="Email" required>
										  </div>
									</div>
							</div>
							<div class="clear"></div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										    <label>Message</label>
										  <textarea name="Product[message]" class="form-control" cols="5" rows="4" required></textarea>
									</div>
								</div>
							</div>
							<div class="clear height-5"></div>
							<div class="row">
								<div class="col-xs-5">
									<button type="submit" name="submit" class="bt bt-popupd"></button>
								</div>
							</div>

						</form>
						<div class="clear"></div>
					</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
	</div>
{% endblock %}
