{% extends layout %}
{% block title %}Cellindo Sigma Perkasa{% endblock %}
{% block menu %}product{% endblock %}
{% block content %}
	<div class="outer-middle">
		<div class="prelatif container">
			<div class="clear h14"></div>
				<div class="back-ins-middle-outpg prelatif">
					<div class="clear height-40"></div>
					<div class="tl-pages-top">Products</div>
						
						<div class="left mn-leftmenu">
							<ul class="left-menu">
								<li class="active"><a href="{{ path('product') }}">Variant</a></li>
								<li><a href="{{ path('warranty') }}">Product Warranty</a></li>
							</ul>
						</div>
						<div class="right back-patterninside-content">
							<div class="back-shadow-top"></div>
								<div class="inspadding content-text">
									<div class="clear height-40"></div>
									<div class="left w470">
										<div class="title">Product Variant of PT. Cellindo Sigmaperkasa </div>
									</div>
									<div class="right"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/back-sharefacebook.png" alt=""></a></div>
									<div class="clear height-5"></div>
									<div class="height-2"></div>
									<div class="lines-greeen h3"></div>
									<div class="clear h7"></div>
									<div class="clear height-20"></div>

									{% if msg == 'success' %}
										<div class="padding-left-15">
										    <p class="bg-success">
											    Thank you for the order! we will respond to you shortly.
										    </p>
										</div>
									{% endif %}

									<p>All of our thermal insulation products can be customised from the bubble size (big bubble or small bubble), with or without woven material, with or without fire retardant capability.</p>

									<div class="clear height-5"></div>
									<div class="bs-variant">
										<div class="row">
											<div class="col-md-6">
												<div class="item prelatif">
													<a class="fancy-prodc" href="{{ path('product-form') }}"><img src="{{ app.request.baseurl }}/asset/images/item-products-1.jpg" alt="">
														<div class="bck-title"><span>SMALL BUBBLE</span></div>
													</a>
												</div>
											</div>
											<div class="col-md-6">
												<div class="item prelatif">
													<a class="fancy-prodc" href="{{ path('product-form') }}"><img src="{{ app.request.baseurl }}/asset/images/item-products-2.jpg" alt="">
														<div class="bck-title"><span>BIG BUBBLE</span></div>
													</a>
												</div>
											</div>
										</div>
										<div class="clear height-5"></div>
										<div class="row">
											<div class="col-md-6">
												<div class="item prelatif">
													<a class="fancy-prodc" href="{{ path('product-form') }}"><img src="{{ app.request.baseurl }}/asset/images/item-products-4.jpg" alt="">
													<div class="bck-title"><span>WOVEN</span></div>
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<div class="item prelatif">
													<a class="fancy-prodc" href="{{ path('product-form') }}"><img src="{{ app.request.baseurl }}/asset/images/item-products-3.jpg" alt="">
														<div class="bck-title"><span>FIRE RETARDANT</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="clear height-50"></div>


									<div class="clear"></div>
								</div>
							<div class="clear"></div>
							<div class="back-shadow-bottom"></div>
						</div>
					<div class="clear height-50"></div>
					<div class="clear"></div>
					<div class="back-shadow-ins-pagecontent"></div>
				</div>
				<div class="clear height-20"></div>
				<div class="height-3"></div>
				<div class="inf-email-footer left"><i class="icon-email-footer"></i>&nbsp;&nbsp;&nbsp;<a href="mailto:info@cellindosigma.co.id">info@cellindosigma.co.id</a></div>
				<div class="clear height-20"></div>
		</div>
	</div>
{% endblock %}
