<p>Thank you for Reservation us! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email Address</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	<tr>
		<td>No. of pax</td>
		<td>:</td>
		<td>{{ data.no_pax }}</td>
	</tr>
	<tr>
		<td>Date</td>
		<td>:</td>
		<td>{{ data.date }}</td>
	</tr>
	<tr>
		<td>Time</td>
		<td>:</td>
		<td>{{ data.time }}</td>
	</tr>
</table>

<p>Copyright &copy; 2014 Dauni.</p>