{% extends layout %}
{% block title %}Services - Wisma Indah - Furniture Mebel Gemblongan Surabaya{% endblock %}
{% block menu %}service{% endblock %}
{% block content %}
	<div class="middle-outer-content">
	<div class="prelatife container">
		<div class="clear height-20"></div>
		<div class="height-2"></div>
		<div class="text-right breadcumb"><a href="{{ url('homepage') }}">Home</a> &gt; Services</div>
		<div class="clear height-30"></div>
		<div class="inside content-text">
			<h1>SERVICES FROM WISMA INDAH</h1>
			<h2 style="font-size: 36px;">Wisma Indah&rsquo;s committment on service will exceeds customer&rsquo;s expectation.</h2>

			<div class="clear height-50"></div>
			<div class="height-15"></div>
			<div class="list-ic-service">
				<div class="row">
					<div class="col-md-4">
						<div class="item">
							<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ic-service-imagery.png" alt="design & imagery - furniture mebel surabaya - wisma indah"></div>
							<div class="clear height-30"></div>
							<div class="title">Design & Imagery</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ic-service-2.png" alt="style mix & match - furniture mebel surabaya - wisma indah"></div>
							<div class="clear height-30"></div>
							<div class="title">Style Mix & Match</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item last">
							<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ic-service-3.png" alt="delivery & site furnishings - furniture mebel surabaya - wisma indah"></div>
							<div class="clear height-30"></div>
							<div class="title">Delivery & Site Furnishings</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear height-50"></div>
			<div class="height-5"></div>
			<div class="row">
				<div class="col-md-2">&nbsp;</div>
				<div class="col-md-8 text-center">
					<span>Wisma Indah&rsquo;s committment on service will exceeds customer&rsquo;s expectation.</span>

<p>We are not just an ordinary furniture store, instead we will be your partner to manifest your desires into reality. We realize that not everyone has the soul of art, hence we will help provide opinion and design consultancy that will make everything go smoothly, an most of all we will deliver perfection in your home. No more hesitating, call our customer service at 031 5345303 for your professional help.</p>

<p>Through our design divison: Wisma Indah will produce various kinds of high quality furniture for residences, offices, commercial buildings, and hotels, which are designed for bold modern nuisance for those who have high taste. Every detail in the designing process as well as the making is always being carefully inspected to originate a product that is not only beautiful but also artistic.</p>

<p>Wisma Indah&rsquo;s Design Team will handle the creation of harmonious room arrangement combined with the furniture. It is included the arrangement of the furniture with comfortable air circulation, color and lighting arrangement that can create attractive environment which supports the selecting of wall covering, floor and ceiling materials, also giving support in selecting accessories and artifacts.</p>


				</div>
				<div class="col-md-2">&nbsp;</div>
			</div>
			<div class="clear height-50"></div>
			<div class="height-15"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		</div>
	</div>
	{# end middle content #}
	{# start bottom content #}
	<div class="back-bottom-ct-s">
		<div class="prelatife container">
			<div class="cont-brands">
				<div class="clear height-10"></div>
				<div class="title-banner text-center">OUR BRANDS</div>
				<div class="clear height-30"></div>
				<div class="height-5"></div>
				<div class="inside-list">
					<ul>
						{# <li><div class="item"><a href="{{ url('product/brand') }}"><img src="{{ app.request.baseurl }}/asset/images/lg-clie-bot.png" alt="clie furniture"></a></div></li> #}
						<li><div class="item"><a href="{{ url('product/brand') }}#ardenza"><img src="{{ app.request.baseurl }}/asset/images/lg-ardena-bot.png" alt="ardenza minimalist furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#merzeille"><img src="{{ app.request.baseurl }}/asset/images/lg-merzelle-bot.png" alt="marzeille classic furniture"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#lightwood"><img src="{{ app.request.baseurl }}/asset/images/lg-lightwood-bot.png" alt="light wood"></a></div></li>
						<li><div class="item"><a href="{{ url('product/brand') }}#htl"><img src="{{ app.request.baseurl }}/asset/images/lg-htl-bot.png" alt="htl"></a></div></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	{# end bottom content #}

	<div class="clear"></div>
{% endblock %}