{% extends layout %}
{% block title %}Shopping - DAUNI Lifestyle Center - Dining Shopping Spa &amp; Beauty Clinic{% endblock %}
{% block menu %}shopping{% endblock %}
{% block content %}
	<div class="wrapper-cslide-outer inside back-shopping">
		<div class="prelatife container">
			<div class="inner-illustrasi-top prelatife h208">
				{# <img src="{{ app.request.baseurl }}/asset/images/ill-shopping.jpg" alt=""> #}
				<div class="block-breadcumb">
					<span class="text"><a href="{{ url('homepage') }}">Home</a> / <i>Shopping</i></span>
				</div>

				<div class="block-shareheader">
					<div class="share-footer header">
						<span>SHARE THIS PAGE</span>
						<div class="clear height-5"></div>
						<div class="list-social">
							{% set linkh = url("homepage") %}
							{# fb #}
							<a target="_blank" href="https://www.facebook.com/sharer.php?u={{ linkh }}"><i class="icon-fb-footer-group"></i></a>&nbsp;
							{# twitter #}
							<a target="_blank" href="https://twitter.com/intent/tweet?original_referer={{ linkh|url_encode }}&related=anywhereTheJavascriptAPI&text=DAUNI Lifestyle Center - Dining Shopping Spa &amp; Beauty Clinic, DAUNI Lifestyle Center, dauni restaurant, dauni boutique, Dauni Spa &amp; Beauty Clinic&tw_p=tweetbutton&url={{ linkh|url_encode }}&via=your_screen_name"><i class="icon-twitter-footer-group"></i></a>&nbsp;
							{# gplus #}
							<a target="_blank" href="https://plus.google.com/share?url={{ linkh }}"><i class="icon-gplus-footer-group"></i></a>&nbsp;
							{# email #}
							<a target="_blank" href="mailto:info@daunilifestyle.com"><i class="icon-mail-footer-group"></i></a>
						</div>
					</div>
				</div>

			</div>
			<div class="clear"></div>
			<div class="prelatif">
				<div class="row">
					<div class="col-lg-9">
						<div class="left-content content-text">
							<div class="box-white">
								<h2 class="titlepages">SHOPPING AT DAUNI</h2>
								<h1 class="t2-titlepages">THE LOCAL TREASURE</h1>
									<div class="gallery-ill-content">
										<div id="carousel-gallery" class="carousel slide" data-ride="carousel">

										<div class="pict-in-pages prelatif">
											<div class="left-shadow"></div>
											<!-- Wrapper for slides -->
											  <div class="carousel-inner">

											    <div class="item active">
											      <img src="{{ app.request.baseurl }}/images/shopping/big/shopping-1.jpg" alt="Dauni - shopping">
											    </div>

											    <div class="item">
											      <img src="{{ app.request.baseurl }}/images/shopping/big/shopping-2.jpg" alt="Dauni - shopping">
											    </div>

											    <div class="item">
											      <img src="{{ app.request.baseurl }}/images/shopping/big/shopping-3.jpg" alt="Dauni - shopping">
											    </div>

											    <div class="item">
											      <img src="{{ app.request.baseurl }}/images/shopping/big/shopping-4.jpg" alt="Dauni - shopping">
											    </div>

											  </div>
											<div class="right-shadow"></div>
										</div>
										<div class="clear height-10"></div>
										<div class="height-3"></div>
										 
										<div class="thumbnails">
											<ul>
												<li data-target="#carousel-gallery" data-slide-to="0" class="active"><img src="{{ app.request.baseurl }}/images/shopping/shopping-1.jpg" alt="shopping dauni"></li>
												<li data-target="#carousel-gallery" data-slide-to="1"><img src="{{ app.request.baseurl }}/images/shopping/shopping-2.jpg" alt="shopping dauni"></li>
												<li data-target="#carousel-gallery" data-slide-to="2"><img src="{{ app.request.baseurl }}/images/shopping/shopping-3.jpg" alt="shopping dauni"></li>
												<li data-target="#carousel-gallery" data-slide-to="3"><img src="{{ app.request.baseurl }}/images/shopping/shopping-4.jpg" alt="shopping dauni"></li>
											</ul>
										</div>
										<div class="pagin">
											<a class="btn bt-left carousel-control" href="#carousel-gallery" data-slide="prev"></a>
											<a class="btn bt-right carousel-control" href="#carousel-gallery" data-slide="next"></a>
										</div>
											
											<div class="clear"></div>
										</div>

										<div class="clear"></div>
									</div>
								<div class="clear height-25"></div>

								<div class="left content-insl">
									<span>Dauni boutique will display a unique retail space, featuring exclusive, prestige brands from top Indonesian designers. Dauni will be the first-of-its-kind Fashion Boutique concept in Surabaya, unveiled by the Arvada Corporation.</span>

									<p>The boutique will showcase prestige fashion lines, fashion accessories, beauty products and even fragrances from well knowned brands. Dauni Boutique will feature innovative merchandising, expert fashion consultant, world-class store design and outstanding services tailored to the travelling consumer, preserving and delivering the premium customer experience for which these elite brands are known and respected.&nbsp;</p>

									<p>Additionally, Dauni boutique will be home to a first-class entertainment lounge area, to accommodate exciting activities such as Indonesian designer fashion show, global product launches and special media events.</p>
									<p>&nbsp;</p>
										
										<div class="block-also">
											<span class="purple">SEE ALSO:</span>&nbsp;&nbsp;&nbsp;  <a href="{{ url('dining') }}">DINING</a>   &nbsp;&nbsp;|&nbsp;&nbsp;   <a href="{{ url('spa') }}">SPA &amp; BEAUTY CLINIC</a>
										</div>
									<div class="clear"></div>
								</div>
								<div class="right hours-operation text-center">
									<b>OPERATION HOURS</b> <br><br>
									
									Monday - Thursday <br>
									11:00am - 10:00pm <br><br>

									Friday - Sunday <br>
									09:00am - 12:00pm
									<div class="clear"></div>
								</div>

								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-lg-3">
						
						{% include "/layouts/right_content.twig" %}

						<div class="clear"></div>
					</div>
				</div>

			</div>
			
			<div class="clear height-45"></div>
			<div class="height-2"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="back-bottom-content-tfooter"></div>

	<div class="clear"></div>
{% endblock %}