{% extends layout %}
{% block title %}Spa - DAUNI Lifestyle Center - Dining Shopping Spa &amp; Beauty Clinic{% endblock %}
{% block menu %}spa{% endblock %}
{% block content %}
	<div class="wrapper-cslide-outer inside back-spa">
		<div class="prelatife container">
			<div class="inner-illustrasi-top prelatife h208">
				{# <img src="{{ app.request.baseurl }}/asset/images/ill-dining.jpg" alt=""> #}
				<div class="block-breadcumb">
					<span class="text"><a href="{{ url('homepage') }}">Home</a> / <i>Spa</i></span>
				</div>

				<div class="block-shareheader">
					<div class="share-footer header">
						<span>SHARE THIS PAGE</span>
						<div class="clear height-5"></div>
						<div class="list-social">
							{% set linkh = url("homepage") %}
							{# fb #}
							<a target="_blank" href="https://www.facebook.com/sharer.php?u={{ linkh }}"><i class="icon-fb-footer-group"></i></a>&nbsp;
							{# twitter #}
							<a target="_blank" href="https://twitter.com/intent/tweet?original_referer={{ linkh|url_encode }}&related=anywhereTheJavascriptAPI&text=DAUNI Lifestyle Center - Dining Shopping Spa &amp; Beauty Clinic, DAUNI Lifestyle Center, dauni restaurant, dauni boutique, Dauni Spa &amp; Beauty Clinic&tw_p=tweetbutton&url={{ linkh|url_encode }}&via=your_screen_name"><i class="icon-twitter-footer-group"></i></a>&nbsp;
							{# gplus #}
							<a target="_blank" href="https://plus.google.com/share?url={{ linkh }}"><i class="icon-gplus-footer-group"></i></a>&nbsp;
							{# email #}
							<a target="_blank" href="mailto:info@daunilifestyle.com"><i class="icon-mail-footer-group"></i></a>
						</div>
					</div>
				</div>

			</div>
			<div class="clear"></div>
			<div class="prelatif">
				<div class="row">
					<div class="col-lg-9">
						<div class="left-content content-text">
							<div class="box-white">
								<h2 class="titlepages">SPA & BEAUTY CLINIC AT DAUNI</h2>
								<h1 class="t2-titlepages">REJUVENATE & PAMPER YOURSELF IN-STYLE</h1>

									<div class="gallery-ill-content">
										<div id="carousel-gallery" class="carousel slide" data-ride="carousel">

										<div class="pict-in-pages prelatif">
											<div class="left-shadow"></div>
											<!-- Wrapper for slides -->
											  <div class="carousel-inner">

											    <div class="item active">
											      <img src="{{ app.request.baseurl }}/images/spa/big/dauni-spa-1.jpg" alt="Dauni - spa">
											    </div>

											    <div class="item">
											      <img src="{{ app.request.baseurl }}/images/spa/big/dauni-spa-2.jpg" alt="Dauni - spa">
											    </div>

											    <div class="item">
											      <img src="{{ app.request.baseurl }}/images/spa/big/spa-3.jpg" alt="Dauni - spa">
											    </div>

											    <div class="item">
											      <img src="{{ app.request.baseurl }}/images/spa/big/spa-4.jpg" alt="Dauni - spa">
											    </div>

											  </div>
											<div class="right-shadow"></div>
										</div>
										<div class="clear height-10"></div>
										<div class="height-3"></div>
										 
										<div class="thumbnails">
											<ul>
												<li data-target="#carousel-gallery" data-slide-to="0" class="active"><img src="{{ app.request.baseurl }}/images/spa/dauni-spa-1.jpg" alt="spa dauni"></li>
												<li data-target="#carousel-gallery" data-slide-to="1"><img src="{{ app.request.baseurl }}/images/spa/dauni-spa-2.jpg" alt="spa dauni"></li>
												<li data-target="#carousel-gallery" data-slide-to="2"><img src="{{ app.request.baseurl }}/images/spa/spa-3.jpg" alt="spa dauni"></li>
												<li data-target="#carousel-gallery" data-slide-to="3"><img src="{{ app.request.baseurl }}/images/spa/spa-4.jpg" alt="spa dauni"></li>
											</ul>
										</div>
										<div class="pagin">
											<a class="btn bt-left carousel-control" href="#carousel-gallery" data-slide="prev"></a>
											<a class="btn bt-right carousel-control" href="#carousel-gallery" data-slide="next"></a>
										</div>
											
											<div class="clear"></div>
										</div>

										<div class="clear"></div>
									</div>
								<div class="clear height-25"></div>

								<div class="left content-insl">
										{# <span>Dauni will provide a lavish spa experience like no other in Surabaya. The Dauni Spa links three levels of relaxation, health & wellness with a stunning interior design and serenity feeling.</span> #}
										<span>Dauni will provide a lavish spa experience like no other in Surabaya. The Poetre Spa at Dauni links three levels of relaxation, health &amp; wellness with a stunning interior design and serenity feeling.</span>

									<p>Echoing its lush surroundings, this state-of-the-art spa sanctuary embodies the beauty of colonial - mediteranean athmosphere. Restore spiritual balance and wellness to your life through an array of blissful treatments and therapies, customizable by our trained therapists to meet your particular needs.</p>

									<p>Contact our customer service at +62 31 568 3588 to assist your needs.</p>
									<p>&nbsp;</p>
										
										<div class="block-also">
											<span class="purple">SEE ALSO:</span>&nbsp;&nbsp;&nbsp;  <a href="{{ url('dining') }}">DINING</a>   &nbsp;&nbsp;|&nbsp;&nbsp;   <a href="{{ url('shopping') }}">SHOPPING</a>
										</div>
									<div class="clear"></div>
								</div>
								<div class="right hours-operation text-center">
									<b>OPERATION HOURS</b> <br><br>
									
									Monday - Thursday <br>
									11:00am - 10:00pm <br><br>

									Friday - Sunday <br>
									09:00am - 12:00pm
									<div class="clear"></div>
								</div>

								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-lg-3">
						
						{% include "/layouts/right_content.twig" %}

						<div class="clear"></div>
					</div>
				</div>

			</div>
			
			<div class="clear height-45"></div>
			<div class="height-2"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="back-bottom-content-tfooter"></div>

	<div class="clear"></div>
{% endblock %}